.link {
  text-decoration: none;
}

.list {
  list-style: none;
}
ul,
ol {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}
div {
  display: block;
}
section {
  display: block;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
img {
  display: block;
}
button {
  cursor: pointer;
}
body {
  font-family: Roboto, sans-serif;
  color: #434455;
  background-color: #ffffff;
}
.container {
  width: 1158px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.page-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.page-header {
  border-bottom: 1px solid #e7e9fc;
}
.page-navigation {
  display: flex;
  justify-content: space-between;
  align-content: center;
}
.main-navigation {
  display: flex;
  gap: 40px;
}
.main-contacts {
  display: flex;
  gap: 40px;
}
.logotype {
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  text-transform: uppercase;
  margin-right: 20px;
}
.studio {
  color: #2e2f42;
}

.menu-header {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.menu-header:hover {
  color: #404bbf;
}
.menu-header:focus {
  color: #404bbf;
}
.menu-link:hover {
  color: #404bbf;
}
.menu-link:focus {
  color: #404bbf;
}
.menu-link {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.address {
  font-style: normal;
}

.mail-tel {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.mail-tel:hover {
  color: #404bbf;
}
.mail-tel:focus {
  color: #404bbf;
}
.hero {
  background-color: #2e2f42;
  text-align: center;
  padding: 188px 0;
}
.hero-image-title {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
  background: #2e2f42;
}
.button {
  font-family: 'Roboto', sans-serif;
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  line-height: 24px; /* 150% */
  letter-spacing: 0.04em;
  color: #ffffff;
}
.button:hover,
.button:focus {
  background-color: #404bbf;
  cursor: pointer;
}
.section-two {
  padding: 120 0;
}
.list-section-two {
  display: flex;
  gap: 24px;
}
.title-two {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: left;
  color: #2e2f42;
  display: flex;
  width: 264px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}
.description-title-two {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.section-three {
  background-color: #f4f4fd;
}
.title-three {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  line-height: 1.11;
  text-transform: capitalize;
  color: #2e2f42;
}
.people {
  background: #ffffff;
}

.name {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
}
.profession {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}
.portfolio {
  font-weight: 500;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  line-height: 1.11;
}
.title-card {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.description-title {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.footer {
  background-color: #2e2f42;
}
.logotype-footer {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.studio-footer {
  color: #f4f4fd;
}
.description-footer {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
