.linc {
  text-decoration: none;
}

.list {
  list-style: none;
}
button {
  cursor: pointer;
}
body {
  font-family: Roboto, sans-serif;
  color: #434455;
  background-color: #ffffff;
}
.page-header {
  font-family: Raleway, sans-serif;
  border-bottom: 1px solid #e7e9fc;
}
.div-header {
  display: flex;
}
.container-container-div:default {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
.page-navigation {
  display: flex;
  align-items: center;
}
.logotype {
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  text-transform: uppercase;
  margin-right: 76px;
}
.studio {
  color: #2e2f42;
}
.menu-nav {
  display: flex;
  gap: 40px;
}
.menu-list {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding-top: 24px;
}
.menu-header {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.menu-header:hover {
  color: #404bbf;
}
.menu-header:focus {
  color: #404bbf;
}
.menu-linc {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.address {
  font-style: normal;
}
.address-nav {
  display: flex;
  gap: 40px;
}
.address-mail {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-style: normal;
  color: #434455;
}
.address-tel {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-style: normal;
  color: #434455;
}
.address-list {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-style: normal;
  color: #434455;
}
.address-list:hover {
  color: #404bbf;
}

.address-list:focus {
  color: #404bbf;
}
.hero {
  background-color: #2e2f42;
  padding: 188px 0;
}
.hero-image-title {
  font-family: Roboto;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
  background: #2e2f42;
  max-width: 496px;
}
.button {
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  background-color: #4d5ae5;
  border-radius: 4px;
  cursor: pointer;
}
.button:hover,
.button:focus {
  background-color: #404bbf;
  cursor: pointer;
}
.feature {
  padding: 120px 0;
}
.section-one {
  display: flex;
  gap: 24px;
}
.bloc-section-one {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2e2f42;
  width: calc((100% - 72px) / 4);
}
.title-section-one {
  margin-bottom: 8px;
}
.description-title-section-one {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
}
.section-two {
  background-color: #f4f4fd;
}
.title-section-two {
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.02em;
  text-align: center;
  line-height: 1.11;
  text-transform: capitalize;
  color: #2e2f42;
}
.people {
  background: #ffffff;
}
.name {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
}
.profession {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: center;
}
.portfolio {
  font-weight: 500;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  line-height: 1.11;
}
.portfolio-card {
  line-height: 1.11;
  text-transform: capitalize;
  color: #2e2f42;
  font-weight: 500px;
}
.title-card {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.description-title {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.footer {
  background-color: #2e2f42;
}
.logotype-footer {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.studio-footer {
  color: #f4f4fd;
}
.description-footer {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
